/* Navbar */
.navbar-toggler {
    outline: none;
}

.navbar-toggler:focus {
    border: 1px solid #029DE9;
    outline: none;
}

#my-toggler {
    color: D2EBFA;
}

/* Agora Btns */
.agora-btn {
    color: white;
    border: 1px solid #029DE9;
    background: #029DE9;
    border-radius: 3px;
}

.agora-btn:hover {
    color: #029DE9;
    border: 1px solid #029DE9;
    background: transparent;
}

.agora-btn-dark {
    color: white;
    border: 1px solid #004CC9;
    background: #004CC9;
    border-radius: 3px;
}

.agora-btn-dark:hover {
    color: #004CC9;
    border: 1px solid #004CC9;
    background: transparent;
}

/* Divider */
.divider {
    border: 1px solid lightgray;
    width: 100%;
}

/* Footer */
.footer {
    background: #004CC9;
    color: white;
    position: fixed;
    bottom: 0;
    width: 100%;
}

/* Anchor Tags */
a {
    color: white;
}

a:hover {
    color: lightgray;
}

/* Footer */
.footer-social a {
    color: white;
}

.footer-social a:hover {
    color: lightgray;
}

.fa-big {
    font-size: 22px;
}

/* Defaults */
html,
body {
    padding-bottom: 100px;
}